+b('section').filter.js-filter
  +e.btn.js-filter-open(type="button") Фильтр проектов
  +e.wrapper
    +e.themes
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c1", checked)#c1.fakecheckbox__truecheck
          label(for="c1").fakecheckbox__label Форумы, конференции
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c2")#c2.fakecheckbox__truecheck
          label(for="c2").fakecheckbox__label Выставочные решения
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c3", checked)#c3.fakecheckbox__truecheck
          label(for="c3").fakecheckbox__label Спортивные мероприятия
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c4")#c4.fakecheckbox__truecheck
          label(for="c4").fakecheckbox__label Презентации
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c4")#c4.fakecheckbox__truecheck
          label(for="c4").fakecheckbox__label Концерты, шоу
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c5")#c5.fakecheckbox__truecheck
          label(for="c5").fakecheckbox__label Корпоративные мероприятия
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="c6")#c6.fakecheckbox__truecheck
          label(for="c6").fakecheckbox__label Заседания
    +e.types
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="t1")#t1.fakecheckbox__truecheck
          label(for="t1").fakecheckbox__label Проекционные системы
      +e.elem        
        .fakecheckbox
          input(type="checkbox", value="", name="t2")#t2.fakecheckbox__truecheck
          label(for="t2").fakecheckbox__label Светодиодные экраны
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="t3", checked)#t3.fakecheckbox__truecheck
          label(for="t3").fakecheckbox__label Бесшовные видеостены
      +e.elem
        .fakecheckbox
          input(type="checkbox", value="", name="t4")#t4.fakecheckbox__truecheck
          label(for="t4").fakecheckbox__label Профессиональные LCD-дисплеи
    +e.years
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y1")#y1.fakecheckbox__truecheck
          label(for="y1").fakecheckbox__label 2018
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y2")#y2.fakecheckbox__truecheck
          label(for="y2").fakecheckbox__label 2017
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y3")#y3.fakecheckbox__truecheck
          label(for="y3").fakecheckbox__label 2016
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y4")#y4.fakecheckbox__truecheck
          label(for="y4").fakecheckbox__label 2015
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y5")#y5.fakecheckbox__truecheck
          label(for="y5").fakecheckbox__label 2014
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y6")#y6.fakecheckbox__truecheck
          label(for="y6").fakecheckbox__label 2013
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y7")#y7.fakecheckbox__truecheck
          label(for="y7").fakecheckbox__label 2012
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y8")#y8.fakecheckbox__truecheck
          label(for="y8").fakecheckbox__label 2011
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y9")#y9.fakecheckbox__truecheck
          label(for="y9").fakecheckbox__label 2010
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y10")#y10.fakecheckbox__truecheck
          label(for="y10").fakecheckbox__label 2009
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y11")#y11.fakecheckbox__truecheck
          label(for="y11").fakecheckbox__label 2008
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y12")#y12.fakecheckbox__truecheck
          label(for="y12").fakecheckbox__label 2007
      +e.year
        .fakecheckbox
          input(type="checkbox", value="", name="y13")#y13.fakecheckbox__truecheck
          label(for="y13").fakecheckbox__label 2006