+b('section').shower
  +e('span').text Показывать по:
  +e('ul').list
    +e.item
      +e('span').href._active 12
    +e.item
      +e.href(href="#") 24
    +e.item
      +e.href(href="#") 50
    +e.item
      +e.href(href="#") 100
    +e.item
      +e.href(href="#") Все