+b('nav').sider
  +e.item
    +e.href(href="#") Светодиодные экраны
  +e.item
    +e.href._active(href="#") Проекционное оборудование
  +e.item
    +e.href(href="#") Бесшовные видеостены
  +e.item
    +e.href(href="#") Профессиональные LCD-дисплеи
  +e.item
    +e.href(href="#") Видеосъемка и трансляция
  +e.item
    +e.href(href="#") Системы управления