+b('nav').sider
  +e.item
    +e.href._active._havesub(href="#") Парк арендного оборудования
    +e('ul').sublist
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 1
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 2
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 3
  +e.item
    +e.href(href="#") Комплексное техническое оснащение мероприятий
  +e.item
    +e.href(href="#") Сервисный центр
  +e.item
    +e.href._havesub(href="#") Решения для мероприятий
    +e('ul').sublist
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 1
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 2
      +e.sublist-item
        +e.sublist-href(href="#") Подпункт 3