+b('nav').sider
  +e.item
    +e.href._active(href="#") Генеральный директор
  +e.item
    +e.href(href="#") История
  +e.item
    +e.href(href="#") Награды
  +e.item
    +e.href(href="#") Партнеры
  +e.item
    +e.href(href="#") СМИ о нас
  +e.item
    +e.href(href="#") Реквизиты
  +e.item
    +e.href(href="#") Новости
  +e.item
    +e.href(href="#") Отзывы