section.cookie.hide.js-cookie Мы используем cookie-файлы, чтобы получать данные о вашем пользовательском опыте и улучшать наш сайт. Посещая страницы этого сайта, вы даете согласие на использование cookie-файлов. Вы можете отказаться от использования cookie-файлов, настроив необходимые параметры в своем браузере.
  button(type="button", aria-label="Закрыть").cookie__close.js-cookie-close