include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header

    a(href="#", title="Заголовок предыдущей новости").news__elem-prev
    a(href="#", title="Заголовок следующей новости").news__elem-next

    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e.href(href="#") О компании
            +e('span').delim 
            +e.href(href="#") Новости
            +e('span').delim 
          h1 Искусственный интеллект новой версии аналитической платформы Visiology
          section.common__car.swiper-container.js-typecar
            .swiper-wrapper
              .swiper-slide
                img.common__car-img(src="img/news-img.jpg", alt="")
              .swiper-slide
                img.common__car-img(src="img/text.jpg", alt="")
            .swiper-buttons
                .swiper-button-prev.swiper-button-prev_dark
                .swiper-button-next.swiper-button-next_dark
          +e.content
            p 1 ноября 2018 года на конференции BI 4.0, организаторами которой выступили компании Polymedia и Visiology, была представлена новая версия российской аналитической платформы Visiology.
            p «Сегодня мы анонсируем новую версию аналитической платформы Visiology, в которой реализован целый ряд новых функций, направленных на то, чтобы сделать аналитику более масштабируемой и доступной, – рассказывает Иван Вахмянин, генеральный директор Visiology. Конечно, наиболее интересная из них – это возможность общаться с системой на естественном языке, руководителям теперь не нужно будет изучать вообще никакие инструменты, чтобы получать аналитическую информацию. Но и другие функции не менее важны для наших заказчиков – это новые возможности планирования и бюджетирования, глубоко интегрированного с аналитическим модулем, а также поддержка так называемой эволюционной продвинутой аналитики, т.е. возможности бесшовно переходить между инструментами продвинутой аналитики различной сложности в зависимости от требований задачи и компетенций пользователя – от модели «черного ящика» до использования R и Python».
            p В новой версии появились три новых функциональных блока:
            ul
              li ViPlan. Модуль планирования и бюджетирования, тесно интегрированный с ядром аналитической системы. ViPlan позволит финансовой службе предприятия автоматизировать процесс планирования с минимальным привлечением разработчиков.
              li ViTrend. Продвинутая аналитика в составе платформы. Теперь помимо интеграции с R и Python в платформе появились простые в использовании инструменты продвинутого анализа данных, такие как, например, анализ влияющих факторов.
              li Виртуальный ассистент построенный на технологиях искусственного интеллекта, который значительно упростит пользователям работу с информацией.
            p Данный релиз платформы находится в фазе бета-версии и уже доступен для партнеров и клиентов. Версию, готовую к промышленному внедрению, компания Visiology планирует выпустить в начале 2019 года.
            section.news__elem-bottom
              p.news__elem-date 01 ноября 2018
              aside.news__socials
                a(href="#", data-type="fb", onclick="window.share.facebook(location.href, 'Заголовок', 'урл до картинки', 'текст шэринга')").news__socials-href.js-share
                a(href="#", data-type="tw", onclick="window.share.twitter(location.href, 'Заголовок')").news__socials-href.js-share
            a(href="#").common__back Вернуться к списку новостей
       
    include layout/__footer
    include layout/__scripts