include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').page404
          //- +e.img(src="img/404.png")
          +e('video').video(preload="", autoplay, muted, loop, poster="img/404.png")
            source(src="video/404.mp4" type="video/mp4")
          +e('p').title Страница не найдена
          +e.text
            p Вы неправильно набрали адрес. Возможно такой страницы больше не существует. Воспользуйтесь главным меню, чтобы перейти на другую страницу.
            p Вы также можете вернуться на 
              a(href="#") главную страницу сайта
              |.

    include layout/__footer
    include layout/__scripts