include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      +e('section').top
        .container
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
          +e('h1').title Результаты поиска

          +b('section').search
            +e('form').form._search
              +e('input').input(type="text", data-req="req", placeholder="Что будем искать?")
              +e.sbm(type="submit", title="Найти")
            +e('p').request По вашему запросу «
              span Светодиодный экран
              | » найдено 
              span 17
              |  страниц.

        +e('section').bottom
          .container
            
            ol.search__list
              li.search__item
                a(href="#").search__item-href Мы предлагаем в аренду светодиодные экраны ведущих мировых производителей, позволяющие обеспечить надежность в эксплуатации и качественное отображение видеоконтента
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны обладают высокой контрастностью и идеально подходят для использования в местах с ярким освещением
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны отличаются яркостью изображения и отсутствием швов
                p.search__item-text Многолетний опыт, высокая квалификация инженерно-технического состава и современное профессиональное оборудование позволяют нам решать самые сложные задачи, начиная от разработки дизайн-проекта до его технического воплощения.
              li.search__item
                a(href="#").search__item-href Мы предлагаем в аренду светодиодные экраны ведущих мировых производителей, позволяющие обеспечить надежност
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны обладают высокой контрастностью и идеально подходят для использования в местах с ярким освещением
                p.search__item-text Компания ART Polymedia не раз завоевывала престижные награды, такие как EMEA InAVation Awards 2009 и 2014 в Амстердаме, Golden Puzzle ‘09 и PRO Integration Awards 2010-2013.
              li.search__item
                a(href="#").search__item-href Мы предлагаем в аренду светодиодные экраны ведущих мировых производителей, позволяющие обеспечить надежность в эксплуатации и качественное отображение видеоконтента
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны обладают высокой контрастностью и идеально подходят для использования в местах с ярким освещением
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны отличаются яркостью изображения и отсутствием швов
                p.search__item-text Многолетний опыт, высокая квалификация инженерно-технического состава и современное профессиональное оборудование позволяют нам решать самые сложные задачи, начиная от разработки дизайн-проекта до его технического воплощения.
              li.search__item
                a(href="#").search__item-href Мы предлагаем в аренду светодиодные экраны ведущих мировых производителей, позволяющие обеспечить надежност
                p.search__item-text Позвольте поблагодарить Вас лично и коллектив компании ART Polymedia за профессионализм, исключительную компетентность сотрудников, оперативность в решении поставленных задач и ответственное отношение к работе, которые позволили успешно реализовать более 60 мероприятий компании и стали залогом нашего 17-летнего сотрудничества.
              li.search__item
                a(href="#").search__item-href Светодиодные экраны обладают высокой контрастностью и идеально подходят для использования в местах с ярким освещением
                p.search__item-text Компания ART Polymedia не раз завоевывала престижные награды, такие как EMEA InAVation Awards 2009 и 2014 в Амстердаме, Golden Puzzle ‘09 и PRO Integration Awards 2010-2013.

            include blocks/pagination
    include layout/__footer
    include layout/__scripts