include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e.href(href="#") Текстовая страница
            +e('span').delim 
          h1 Очень большой заголовок первого уровня
          +e.content
            p Успех любого мероприятия зависит от того, насколько ярко, оригинально и качественно оно будет представлено публике. Не важно, идет ли речь о деловой конференции, спортивном соревновании или творческом шоу - именно видеопрезентации задают тон и настроение в ходе происходящего действия, надолго оставаясь в памяти зрителей.
            p Компания ART Polymedia уже более 15 лет специализируется на предоставлении и обслуживании профессиональных систем визуализации на крупных форумах и конференциях, а также выставках, корпоративных и спортивных мероприятиях. За время работы компанией было успешно реализовано свыше 12 000 крупных проектов для более чем 1800 клиентов как в Москве, так и в других городах России и странах СНГ.
            img(src="img/text.jpg")
            p Многолетний опыт, высокая квалификация инженерно-технического состава и современное профессиональное оборудование позволяют нам решать самые сложные задачи, начиная от разработки дизайн-проекта до его технического воплощения.
            h2 Очень большой заголовок второго уровня
            p Компания ART Polymedia не раз завоевывала престижные награды, такие как 
              a(href="#") EMEA InAVation Awards 2009 и 2014 в Амстердаме, Golden Puzzle ‘09 и PRO Integration Awards 2010-2013
              | .
            p Мы предлагаем в аренду широкий спектр экранов, дисплеев и систем управления.
            ul
              li Светодиодные экраны с шагом от 2 до 12 мм, в том числе гибкие LED экраны с шагом 2ммHOT!;
              li Проекторы мощностью от 3000 до 20 000 ANSI люмен;
              li Экраны прямой и обратной проекции шириной от 2 до 14 м;
              li Бесшовные видеостены на основе 55-дюймовых Full HD LCD-дисплеев;
              li Профессиональные Full HD LCD-дисплеи с диагональю от 22 до 75 дюймов, 60-дюймовые 4k LCD-дисплеи.
            h3 Очень большой заголовок третьего уровня
            p Системы управления: медиасерверы Catalyst, Pandoras box и D3, мультиоконные процессоры Spyder X80 и X20, виджет с программным обеспечением Resolume Arena, видеомикшеры Analog Way, Barco, Kramer, Extron, Panasonic.
            ol
              li Светодиодные экраны с шагом от 2 до 12 мм, в том числе гибкие LED экраны с шагом 2ммHOT!;
              li Проекторы мощностью от 3000 до 20 000 ANSI люмен;
              li Экраны прямой и обратной проекции шириной от 2 до 14 м;
              li Бесшовные видеостены на основе 55-дюймовых Full HD LCD-дисплеев;
              li Профессиональные Full HD LCD-дисплеи с диагональю от 22 до 75 дюймов, 60-дюймовые 4k LCD-дисплеи.
            p Клиенты ART Polymedia могут быть уверены, что получат качественное визуальное воплощение своих идей на основе современного оборудования с соблюдением международных стандартов AV-индустрии.
            table
              thead
                tr
                  th Решения
                  th Оборудование
                  th Год
              tbody
                tr
                  td Форумы, конференции
                  td Проекционные системы
                  td 2017
                tr
                  td Выставочные решения
                  td Светодиодные экраны
                  td 2016
                tr
                  td Спортивные мероприятия
                  td Бесшовные видеостены
                  td 2015
                tr
                  td Презентации
                  td Плазменные панели
                  td 2014
                tr
                  td Концерты, шоу
                  td Проекционные системы
                  td 2013
                tr
                  td Корпоративные мероприятия
                  td Светодиодные экраны
                  td 2012
            p Не важно, идет ли речь о деловой конференции, спортивном соревновании или творческом шоу - именно видеопрезентации задают тон и настроение в ходе происходящего действия, надолго оставаясь в памяти зрителей. За время работы компанией было успешно реализовано свыше 12 000 крупных проектов для более чем 1800 клиентов как в Москве, так и в других городах России и странах СНГ.
       
    include layout/__footer
    include layout/__scripts