@keyframes popupAnimation {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 20px);
  }
}

@keyframes closeAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1617px;
  }
}

@keyframes searchAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1029px;
  }
}

@keyframes arrAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1617px;
  }
}

@keyframes backAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -897px;
  }
}

@media $lDesktopSmallFrom
  @keyframes movie {
    from,
    to {
      transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.5)
    }

    33% {
      transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.5)
    }

    66% {
      transform translate3d(5%, -4%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(.5)
    }
  }
  @keyframes moviePopup {
    from,
    to {
      transform translate3d(15%, -14%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    }

    33% {
      transform translate3d(15%, -14%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.4)
    }

    66% {
      transform translate3d(15%, -14%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(.4)
    }
  }

@media (max-width: 1600px) and (min-width: 1401px)
  @keyframes movie {
    from,
    to {
      transform translate3d(5%, -12%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    }

    33% {
      transform translate3d(5%, -12%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.4)
    }

    66% {
      transform translate3d(5%, -12%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(.4)
    }
  }
  @keyframes moviePopup {
    from,
    to {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.3)
    }
  }

@media (max-width: 1400px) and (min-width: 1271px)
  @keyframes movie {
    from,
    to {
      transform translate3d(3%, -17%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(3%, -17%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(3%, -17%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(.3)
    }
  }
  @keyframes moviePopup {
    from,
    to {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.3)
    }
  }

@media (max-width: 1270px) and (min-width: 1001px)
  @keyframes movie {
    from,
    to {
      transform translate3d(-5%, -17%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(-5%, -17%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(-5%, -17%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(.3)
    }
  }
  @keyframes moviePopup {
    from,
    to {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(-4%, -22%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.3)
    }
  }

@media $LandscapeMax
  @keyframes moviePopup {
    from,
    to {
      transform translate3d(-16%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)
    }

    33% {
      transform translate3d(-16%, -22%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.3)
    }

    66% {
      transform translate3d(-16%, -22%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.3)
    }
  }

