@keyframes movie {
  from,
  to {
    transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.5)
  }

  33% {
    transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.5)
  }

  66% {
    transform translate3d(5%, -4%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.5)
  }
}

@keyframes moviePopup {
  from,
  to {
    transform translate3d(15%, -14%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
  }

  33% {
    transform translate3d(15%, -14%, -60px) rotate3d(0.2, -0.3, 0, -12deg) scale(.4)
  }

  66% {
    transform translate3d(15%, -14%, -60px) rotate3d(0.2, 0.7, 0, 12deg) scale(0.4)
  }
}