.evcInformer {
  mt 20px
}
.nothing__found {
  font-size 24px
  max-width 420px
  margin 30px auto
  pl 20px
  mb 70px
}
.evcInformer .evcHintLayer{
  visibility hidden
  opacity 0
  pointer-events none
}
.evcInformer{
  opacity 0
  pointer-events none
}