.footer
  bgc #121212
  pt 75px
  color white
  @media $desktopMin
    pt 35px
  &__top
    @media $PortraitMedium
      mb -70px
  &__top,
  &__bottom
    df()
    pl 33px
    pr 33px
    @media $desktopMin
      flex-wrap wrap
    @media $PortraitMedium
      pl 15px
      pr 15px
  &__bottom
    pt 11px
    pb 9px
    mt 75px
    bgc $dark
    & ^[0]__right
      @media $LandscapeMin
        flex-direction column
    & ^[0]__col_col2
      @media $LandscapeMin
        w calc(100% - 30px)
        mt 10px
  &__left
    w calc(50% - 24px)
    @media $desktopMin
      w 100%
  &__right
    w calc(50% + 24px)
    df(flex-start, space-between)
    @media $desktopMin
      w calc(100% + 48px)
      ml -48px
      mt 10px
      ^[0]__top &
        mt 40px
    @media $LandscapeMin
      w calc(100% + 30px)
      ml -30px
    @media $PortraitMedium
      flex-direction column
  &__hrefover
    mb 20px
  &__href
    color white
    fontify 14px 600 20px
    transition .7s color
    &:hover
      color $blue
  &__hint
    color rgba(255, 255, 255, .35)
    fontify 14px 400 18px
    max-width 320px
  &__copy
    fontify 12px 600 14px
    letter-spacing .18em
    text-transform uppercase
    mt 6px
  &__col
    ml 48px
    w calc(100% / 3 - 48px)
    @media $LandscapeMin
      w calc(100% / 3 - 30px)
      ml 30px
    @media $PortraitMedium
      w calc(100% - 30px)
    &_col2
      w calc(200% / 3 - 48px)
      df(center, space-between)
      @media $LandscapeMin
        w calc(200% / 3 - 30px)
      @media $PortraitMedium
        flex-direction column
        align-items flex-start
        justify-content flex-start
  &__nav
    overflow hidden
    @media $PortraitMedium
      mb 40px
    &-href
      float left
      clear both
      color alpha(white, .35)
      fontify 14px 400 18px
      transition .7s color
      &:not(&_main):hover, 
      &:not(&_main).active
        color white
      &:not(&_main) + &:not(&_main)
        mt 14px
      &_main
        color white
        fontify 14px 600 18px
        &:hover,
        &.active
          color $blue
        &:not(:first-child)
          mt 40px
      &_main + &
        mt 22px
  &__tel
    ib()
    color white
    fontify 12px 600 14px
    letter-spacing .18em
    text-transform uppercase
    mt 6px
  &__address
    fontify 14px 400 22px
    mt -4px
    @media $PortraitMedium
      mt 0
      mb 10px
  &__dextra
    pos relative
    color silver
    font-family Arial
    fontify 9px 400 14px
    text-transform uppercase
    letter-spacing 0.18em
    ml 100px
    @media $PortraitMedium
      ml 84px
    span
      pos absolute
      t 3px
      r calc(100% + 10px)
      bgc #232323
      color white
      font-family Arial
      fontify 12px 900 21px
      text-transform uppercase
      letter-spacing 0.1em
      border-radius 3px
      padding 0 6px
      transition 0.7s background
    &:hover span
      background-color $blue

.popup
  font-family $os
  &_search
    max-width 900px
    w 95%
  &:not(.popup_realized):not(.popup_search)
    bgc white
    w 95%
    max-width 523px
    padding 24px 48px
    @media $PortraitMax
      padding 24px 28px
  &__title
    c $dark
    fontify 48px 900 48px
    mb 36px
    @media $LandscapeMedium
      fontify 40px 900 40px
    @media $PortraitMax
      fontify 36px 900 36px
  &__subtitle
    c $dark
    fontify 18px 400 26px
    span
      c $red
  &__form
    &:not(&_search)
      mt 66px
    &_search
      pos relative
    &.warning ^[0]__warning
      db()
    &-title
      c $dark
      fontify 24px 600 32px
      mb 25px
    &-block
      & + &
        mt 70px
      &_bottom
        df(flex-start, space-between)
        @media $PortraitMax
          flex-direction column
  &__agreement
    c $dark
    fontify 18px 400 26px
    max-width 240px
    mt -6px
    @media $PortraitMax
      max-width none
      mb 20px
  @media $PortraitMax
    .callback__send
      w 100%
      text-align center
  &__warning
    dn()
    c $red
    fontify 18px 400 26px
    mt 38px
  .common__fileover
    white-space normal
  .common__filename
    display inline
    max-width calc(100% - 23px)
  &__search
    &-input
      width 100%
      bgc transparent
      border 0
      border-bottom 1px solid white
      fontify 24px 400 26px
      c white
      h 75px
      pr 40px
    &-sbm
      pos absolute
      r 0
      t 50%
      mt -10px
      size 21px
      background url('../i/search_seq.png') no-repeat 0 -1029px
      transition .7s opacity
      &:hover
        animation searchAnimation 1s steps(49)
