body.index .header
  pos absolute
  l 0
  t 0
  z-index 2
  mb 0

.header
  w 100%
  padding 19px 33px
  mb 30px
  df(center, space-between)
  @media $PortraitMedium
    padding 10px 15px
  &__left
    df(center, flex-start)
  &__logo
    pos relative
    t 14px
    &-img
      @media $LandscapeMedium
        w 110px
  &__socials
    df(center, flex-start)
    ml 100px
    @media $desktopMedium
      ml 40px
    @media $desktopMin
      dn()
    &-elem
      transition .7s filter
      &:hover
        filter brightness(0) invert(1)
      & + &
        ml 30px
      &[data-type="yt"]
        size 15px 11px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAMAAACXmSduAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAaVBMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///8EghN3AAAAIXRSTlMAFKja4+76FZvZ6vSR+fAipv78AYk4x/XvmROg19/y9tgm4KIlAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+IMGwkDMjmbFHoAAABcSURBVAjXZY1XEoAgDERDFVTsXVFz/0sqoDOW/OzbbAoQyriQiCgFZzQChc9SoF9eQ+wkSU3wGZggeVE6qOBqQ914uvO2w5D7/T5MIw6/++Pn/zQvVqwnbsLulBxmlBCE74hRaAAAAABJRU5ErkJggg==') no-repeat center
      &[data-type="fb"]
        size 13px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///9GE+Z7AAAAG3RSTlMAR+fm48MrAh/+HRUv6An34Q87ARE/LVHi5UQcfnr+AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+IMGwkEHkQC7l4AAABLSURBVAjXdcpJEoAgEEPRNM4j4gjm/vfUBbQu9K/yqgIxTGWCnE8GcRRlVZNRTYuuVw0YLVUTHFWzw7JuSTvuju/nj/xLHhJU4bwACDQOUavBqcMAAAAASUVORK5CYII=') no-repeat center
      &[data-type="tw"]
        size 15px 12px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAApVBMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///93yyYaAAAANXRSTlMAAhZE1PivHU0iKC8x7jpqm98jwOmPPbxGD6g3BjXjybpIaf6y0cwmfKnsoApmxvT18NiUKmOi4PEAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gwbCQQ0n7kniAAAAHRJREFUCNdNztcSglAMRdGjWCgqiBSvHRSQooCY//81IdcB9tuaTCbBZApOmc0XS1WDTkbHFXWtN9CIzNYWe2sDOyLH9Xz2HhAHGjoCpxFJtJvnS88rX7r1Dtjh/c+H/AQiYsaM5JlmzFwOi9e7rOpP85X8AbewFcQdzjioAAAAAElFTkSuQmCC') no-repeat center
      &[data-type="inst"]
        size 13px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAS1BMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///9aB44uAAAAF3RSTlMAYN3eYeaz/txMtKkrBqTnq6qoKQVf20tez2UAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gwbCQUVyssGlwAAAFhJREFUCNdtzkkSgCAMRNGOI0hwADX3v6kEY+nCXv1XWQBAjdxrO4CspR9GgnvkMTloBI4cZr+IaoUulFJxFZtiVfy9bVXJJCnvWSHve2UOx0dUvnZan4QLf2kKZv3ChqAAAAAASUVORK5CYII=') no-repeat center
  &__order
    ml 75px
    fontify 14px 600 41px
    @media $desktopMedium
      ml 40px
    @media $LandscapeMax
      ml 22px
    @media $PortraitMin
      dn()
  &__search
    ml 37px
    size 21px
    background url('../i/search_seq.png') no-repeat 0 -1029px
    transition .7s opacity
    @media $LandscapeMax
      ml 22px
    @media $PortraitMedium
      dn()
    &:hover
      animation searchAnimation 1s steps(49)
  &__right
    ml 40px
    dfv()
    @media $LandscapeMin
      ml 0
    & ^[0]__row:first-child
      @media $LandscapeMin
        dn()
    & ^[0]__row:last-child
      @media $LandscapeMedium
        mt 0
  &__row
    w 100%
    df(flex-start, flex-end)
    @media $LandscapeMin
      flex-direction column
      align-items flex-end
    & + &
      mt 25px
  &__lang
    color white
    fontify 12px 700 14px
    mr 52px
    letter-spacing .18em
    transition .7s color
    @media $desktopMedium
      mr 32px
    @media $LandscapeMedium
      mr 22px
    @media $LandscapeMin
      mr 0
      mb 5px
      mt -1px
    &:hover
      color $blue
  &__tel
    color white
    fontify 12px 700 14px
    letter-spacing .18em

.burger
  @media $LandscapeMediumMin
    dn()
  ml 30px
  &__shadow
    pos fixed
    l 0
    t 0
    transform translateY(100%)
    transition 1s transform, .7s opacity
    will-change transform
    opacity .2
    bgc $dark
    size 100%
    z-index 10
  &__button
    cursor pointer
    w 25px
    h 25px
    pos relative
    z-index 11
    &:before
      content ""
      pos absolute
      t 0
      r 0
      w 25px
      h 1px
      bgc white
      transition .5s width, .5s background, .5s transform, .5s top
    &:after
      content ""
      pos absolute
      b 0
      r 0
      w 25px
      h 1px
      bgc white
      transition .5s width, .5s background, .5s transform, .5s top  
    &-meat
      content ""
      pos absolute
      t 50%
      r 0
      w 25px
      h 1px
      bgc white
      transition .5s width, .5s background, .5s transform, .5s top  
    &.open
      &:before
        animation burger-top 1s ease-in-out forwards
      &:after
        animation burger-bottom 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 0
      & + ^[0]__shadow
        opacity 1
        transform translateY(0)
    &.open.remove
      &:before
        animation burger-top-invert 1s ease-in-out forwards
      &:after
        animation burger-bottom-invert 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 1
        transition .4s opacity .6s

html:not(.touchevents)
  .burger
    &:not(.open):hover
      &:before
        animation burger-hover 1s infinite ease-in-out alternate
      &:after
        animation burger-hover 1s infinite ease-in-out alternate forwards 400ms
    &:not(.open):hover &-meat
      animation burger-hover 1s infinite ease-in-out alternate forwards 200ms

@keyframes burger-hover
  0%
    w 100%
  50%
    w 50%
  100%
    w 100%
      
@keyframes burger-top
  0%
    t 0
  40%
    t 12px
  60%
    t 12px
    transform rotate(0)
  100%
    t 12px
    transform rotate(45deg)
    
@keyframes burger-bottom
  0%
    b 0
  40%
    b 12px
  60%
    b 12px
    transform rotate(0)
  100%
    b 12px
    transform rotate(-45deg)

@keyframes burger-top-invert
  0%
    t 12px
    transform rotate(45deg)
  40%
    t 12px
    transform rotate(0)
  60%
    t 12px
  100%
    t 0
    
@keyframes burger-bottom-invert
  0%
    b 12px
    transform rotate(-45deg)
  40%
    b 12px
    transform rotate(0)
  60%
    b 12px
  100%
    b 0