.banner
  opacity 0
  transition 2s opacity
  pos relative
  &__car
    min-height 100vh
    @media $LandscapeMedium
      min-height 580px
      h 100vh
    @media $PortraitMedium
      min-height 530px
  .swiper-slide
    overflow hidden
    z-index 1
    df(flex-end, flex-start)
    pb 213px
    min-height 100vh
    perspective 1000px
    @media $LandscapeMax
      pb 97px
    @media $LandscapeMedium
      min-height 580px
      h 100vh
    @media $PortraitMedium
      min-height 530px
  .swiper-buttons
    pos absolute
    z-index 1
    b 137px
    l 50%
    w 100%
    max-width 1573px
    padding 0 60px
    transform translateX(-50%)
    @media $lDesktopSmall
      max-width 1366px
      padding 0 32px
    @media $desktopMax
      max-width 1142px
    @media $LandscapeMax
      b 37px
  &__container
    w 100%
    max-width 1573px
    padding 0 60px
    margin 0 auto
    @media $lDesktopSmall
      max-width 1366px
      padding 0 32px
    @media $desktopMax
      max-width 1142px
    @media $PortraitMedium
      padding 0 15px
  &__img
    pos absolute
    t 0
    l 0
    min-width 100%
    min-height 100%
    z-index -1
    transition 2s transform
    @media $LandscapeMax
      max-width inherit
      max-height 100%
      l 50%
      transform translateX(-50%)
  &__hrefover
    max-width 50%
    pb 23px
    ml -6px
    @media $lDesktopSmall
      ml -4px
    @media $desktopMin
      max-width 70%
    @media $LandscapeMedium
      max-width none
  &__href
    color white
    fontify 100px 700 100px
    border-bottom 1px solid rgba(255, 255, 255, .25)
    transition .7s border
    @media $lDesktopSmall
      fontify 72px 900 72px
    @media $LandscapeMedium
      fontify 62px 900 62px
    @media $PortraitMedium
      fontify 42px 900 42px
    @media $Mobile
      fontify 34px 900 34px
    &:hover
      border-color transparent
    span
      pos relative
      t 23px
      @media $lDesktopSmall
        t 16px
      @media $LandscapeMedium
        t 14px
      @media $PortraitMedium
        t 8px

body.pace-done
  .banner
    opacity 1
  .banner__img
    opacity 1
    transform-style preserve-3d
    animation movie 8s 2s infinite ease-in-out
    @media $lDesktopSmallFrom
      transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.5)
    @media (max-width: 1600px) and (min-width: 1271px)
      transform translate3d(5%, -12%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media (max-width: 1270px) and (min-width: 1001px)
      transform translate3d(-5%, -12%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media $LandscapeMax
      opacity .2

.about
  pb 120px
  background-size cover
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  @media $LandscapeMediumMin
    background-image none !important
  @media $LandscapeMedium
    pb 70px
  &__sticky
    size 100% 100vh
    pos absolute
    l 0
    t 0
    z-index -1
    opacity .35
    overflow hidden
    transform scale(1)
    will-change transform
    transition .5s transform
    @media $LandscapeMedium
      dn()
    &.fixed
      pos fixed
    &.bottom
      b 0
      t auto
      transition 1.4s transform
      transform scale(.5)
      transform-origin 50% 130%
    &-parent
      pt 156px
      pos relative
      @media $LandscapeMedium
        pt 96px
  &__video
    pos absolute
    l 50%
    t 50%
    min-width 100%
    min-height 100%
    transform translate(-50%, -50%)
    @media $LandscapeMedium
      l 0
      w 100%
      min-height auto
      transform translateY(-50%)
  &__info
    df()
    @media $LandscapeMax
      flex-direction column
    &-title
      color white
      fontify 120px 700 120px
      mt -16px
      ml -8px
      @media $lDesktopSmall
        fontify 100px 700 100px
      @media $desktopMin
        fontify 72px 700 72px
      @media $LandscapeMax
        br
          dn()
      @media $LandscapeMedium
        fontify 62px 900 62px
      @media $PortraitMedium
        fontify 42px 900 42px
        ml -4px
      @media $Mobile
        fontify 34px 900 34px
      &:after
        content ""
        display inline-block
        vertical-align baseline
        ml 10px
        size 13px
        bgc $red
        @media $PortraitMedium
          size 8px
          ml 6px
    &-col
      w calc(50% - 24px)
      color white
      @media $LandscapeMax
        w 100%
      p:not([class])
        fontify 24px 600 32px
        @media $LandscapeMedium
          fontify 20px 600 28px
      & + &
        ml 48px
        @media $LandscapeMax
          ml 0
          mt 40px
  &__feats
    df(flex-start, space-between)
    flex-wrap wrap
    mt 175px
    mb -65px
    @media $LandscapeMedium
      mt 100px
  &__feat
    w calc(50% - 24px)
    mb 65px
    @media $LandscapeMin
      w calc(50% - 15px)
    @media $PortraitMedium
      w 100%
    &-imgover
      dfv(flex-start, flex-end)
      h 58px
      mb 20px
    &-icon
      max-height 100%
    &-text
      color white
      fontify 24px 600 32px
      w 90%
      max-width 372px
      @media $LandscapeMedium
        fontify 20px 600 28px
      mark
        color white
        bgc transparent
        transition 1s color
        ^[0]__feat[visible] &
          color $blue
  &__projects
    df(center, space-between)
    mt 300px
    color white
    fontify 60px 700 60px
    @media $lDesktopSmall
      fontify 48px 700 48px
    @media $LandscapeMedium
      mt 120px
      fontify 32px 700 32px
    @media $PortraitMedium
      flex-direction column
    &-count
      w 324px
      @media $PortraitMedium
        text-align center
        w 100%
        max-width 400px
    &-showreel
      w 324px
      @media $LandscapeMedium
        text-align right
      @media $PortraitMedium
        text-align center
        w 100%
        max-width 400px
    &-href
      pos relative
      z-index 1
      size 56px
      @media $LandscapeMedium
        margin 0 30px
      @media $PortraitMedium
        margin 30px 0
      &:after
        content ""
        pos absolute
        l 50%
        t 50%
        ml -4px
        mt -8px
        size 11px 17px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMIwkb3xsXAAAAl0lEQVQY03WQsQ2CYBBGP0QTCxIbtdY4AoUGN5DERSx0Bgodw8YGNrBxACnsqAkNJg7xKKSQ4/eu+l4uX3JPXBkjuwJerFz4wJt9H4s1JRd8i8WUOw/mFosBCRVbi4XYUXPqY7EgJyPwQJ5+Z6JCT3u9JCcl6OKYmmO32yehIvqmYds4000jhfq0GRAbSs72yz9OnAadvhvc0cv72fj0UgAAAABJRU5ErkJggg==') no-repeat center
        transition .7s background
      &:before
        content ""
        size 56px
        pos absolute
        z-index -1
        l 50%
        t 50%
        mt -28px
        ml -28px
        border-radius 50%
        bgc $blue
        transition .7s width, .7s height, .7s margin
      &:hover
        &:after
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMJQ7T4SkyAAAAZ0lEQVQY023QoRHCYBBE4Z/BRMRCA+ki6YFWQhVQRnRQVEALNBGPR+TDc3vn3tzc7L5m0Wn/2/A2JMzHJWF2d8eK4eWcMJspYb6uCcNDf6DVeabrVV9/zynJmHKfastbbRmdRIPR9w+c8wSqdmnVhQAAAABJRU5ErkJggg==') no-repeat center
        &:before
          size 66px
          ml -33px
          mt -33px
  &__bottom
    mt 316px
    df(flex-start, center)
    flex-wrap wrap
    @media $LandscapeMax
      flex-direction column
      mt 170px
    @media $LandscapeMedium
      mt 120px
    &-text
      w calc(50% - 24px)
      color white
      fontify 24px 600 32px
      pr 50px
      @media $LandscapeMax
        w 100%
        pr 0
      @media $LandscapeMedium
        fontify 20px 600 28px
      & + &
        ml 48px
        @media $LandscapeMax
          ml 0
          mt 40px
    &-topage
      mt 93px
      @media $LandscapeMax
        mt 40px

.feeds
  bgc $grey
  pt 105px
  pb 120px
  c $dark
  @media $LandscapeMedium
    pt 70px
    pb 80px
  @media $PortraitMedium
    bgc white
  oh()
  .swiper-buttons
    pos absolute
    l 0
    b -90px
  &__car
    mt 70px
    @media $PortraitMedium
      mt 40px
    &.swiper-container
      overflow visible
  &__bottom
    mt 60px
    text-align right
    @media $Mobile370
      mt 140px
      text-align left
  &__toall
    ib()
    &:hover
      color $dark

.callback
  bgc $grey
  color $dark
  padding 100px 0 120px
  @media $LandscapeMedium
    padding 70px 0 80px
  @media $PortraitMedium
    bgc white
  &__form
    bgc white
    mt 70px
    padding 32px 50px 37px 50px
    @media $PortraitMedium
      padding 0
    &-row
      df(flex-start, space-between)
      @media $LandscapeMin
        flex-direction column
      & + &
        mt 35px
  &__send
    align-content flex-end
    &:hover
      color $dark
  &__spacer
    @media $LandscapeMin
      dn()