.banner
  opacity 0
  transition 2s opacity
  pos relative
  &__car
    min-height 100vh
    @media $LandscapeMedium
      min-height 580px
      h 100vh
    @media $PortraitMedium
      min-height 530px
  .swiper-slide
    overflow hidden
    z-index 1
    df(flex-end, flex-start)
    pb 213px
    min-height 100vh
    perspective 1000px
    @media $LandscapeMax
      pb 97px
    @media $LandscapeMedium
      min-height 580px
      h 100vh
    @media $PortraitMedium
      min-height 530px
  .swiper-buttons
    pos absolute
    z-index 1
    b 137px
    l 50%
    w 100%
    max-width 1573px
    padding 0 60px
    transform translateX(-50%)
    @media $lDesktopSmall
      max-width 1366px
      padding 0 32px
    @media $desktopMax
      max-width 1142px
    @media $LandscapeMax
      b 37px
  &__container
    w 100%
    max-width 1573px
    padding 0 60px
    margin 0 auto
    @media $lDesktopSmall
      max-width 1366px
      padding 0 32px
    @media $desktopMax
      max-width 1142px
    @media $PortraitMedium
      padding 0 15px
  &__img
    pos absolute
    t 0
    l 0
    min-width 100%
    min-height 100%
    z-index -1
    transition 2s transform
    will-change transform
    @media $LandscapeMax
      max-width inherit
      max-height 100%
      l 50%
      transform translateX(-50%)
  &__hrefover
    max-width 50%
    pb 23px
    ml -6px
    @media $lDesktopSmall
      ml -4px
    @media $desktopMin
      max-width 70%
    @media $LandscapeMedium
      max-width none
  &__href
    color white
    fontify 100px 700 100px
    border-bottom 1px solid rgba(255, 255, 255, .25)
    transition .7s border
    @media $lDesktopSmall
      fontify 72px 900 72px
    @media $LandscapeMedium
      fontify 62px 900 62px
    @media $PortraitMedium
      fontify 42px 900 42px
    @media $Mobile
      fontify 34px 900 34px
    &:hover
      border-color transparent
    span
      pos relative
      t 23px
      @media $lDesktopSmall
        t 16px
      @media $LandscapeMedium
        t 14px
      @media $PortraitMedium
        t 8px

body.pace-done
  .banner
    opacity 1
  .banner__img
    opacity 1
    transform-style preserve-3d
    animation movie 8s 2s infinite ease-in-out
    @media $lDesktopSmallFrom
      transform translate3d(5%, -4%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.5)
    @media (max-width: 1600px) and (min-width: 1271px)
      transform translate3d(5%, -12%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media (max-width: 1270px) and (min-width: 1001px)
      transform translate3d(-5%, -12%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media $LandscapeMax
      opacity .2

.callback
  bgc $grey
  color $dark
  padding 100px 0 120px
  @media $LandscapeMedium
    padding 70px 0 80px
  @media $PortraitMedium
    bgc white
  &__form
    bgc white
    mt 70px
    padding 32px 50px 37px 50px
    @media $PortraitMedium
      padding 0
    &-row
      df(flex-start, space-between)
      @media $LandscapeMin
        flex-direction column
      & + &
        mt 35px
  &__send
    align-content flex-end
    &:hover
      color $dark
  &__spacer
    @media $LandscapeMin
      dn()