.menu
  @media $LandscapeMedium
    pos fixed
    z-index 11
    l 0
    visibility hidden
    t 0
    opacity 0
    padding 34px 32px
    w 100%
    h 100%
    transition .7s visibility, .7s left, .7s opacity
    overflow-y auto
    text-align center
    pointer-events none
  @media $PortraitMin
    padding 40px 15px
  &__list
    df()
    @media $LandscapeMedium
      flex-direction column
      pr 0
      w 100%
  &__item
    pos relative
    @media $LandscapeMedium
      w 100%
    &_tablet
      df(flex-start, space-between)
      pt 20px
      @media $LandscapeMinFrom
        dn()
    &_mobile
      @media $PortraitMediumFrom
        dn()
      @media $PortraitMedium
        .header__order
          db()
          ml 0
    & + &
      ml 29px
      @media $desktopMedium
        ml 20px
      @media $LandscapeMedium
        ml 0
        mt 50px
  &__lang
    color white
    fontify 20px 600 20px
    letter-spacing .18em
    transition .7s color
  &__tel
    color white
    fontify 20px 600 20px
    letter-spacing .18em
    mr -3px
  &__href
    pos relative
    color white
    fontify 14px 600 18px
    transition .7s color
    @media $LandscapeMedium
      fontify 36px 600 40px
    @media $LandscapeMediumMin
      &_havesub:after
        content ""
        ib()
        ml 7px
        mt 7px
        size 9px 5px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAQAAAA9Wg7gAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAhkOEDEaV7eYAAAARUlEQVQI1z3JqxGAQADE0C0Gg0MhwYG73uji2qAU4Pp4CD4Tk0mimuVnUmPUrG9YNGPE4FREcRnkub3D5tDLl6Kz6x6/AYwqN9FMsBeKAAAAAElFTkSuQmCC') no-repeat center
        transition .7s background
    &_active[href],
    &:hover[href]
      color $blue
      @media $LandscapeMedium
        color white
        opacity .5
      @media $LandscapeMediumMin
        &:after
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAMAAACgjTZZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEULX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///84MlZ2AAAAEXRSTlMAqD8+NuRHRjDiTuMp4ZEkwase6RcAAAABYktHRBHitT26AAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wIZDhMwRn3UzQAAAC9JREFUCNdjYGRiAAFmRgYWVjYgg52VhYGBg5OLgYubAyTBw8vHywNWwsAvwA8kAQ+/AM1+0uqiAAAAAElFTkSuQmCC') no-repeat center
  &__sublist
    visibility hidden
    opacity 0
    pos absolute
    t 30px
    l -24px
    padding 22px 24px
    bgc $blue
    z-index 3
    transition .3s visibility, .3s opacity, .3s top
    @media $LandscapeMedium
      visibility visible
      opacity 1
      pos relative
      t 0
      l 0
      padding 0
      bgc transparent
      mt 14px
    &:before
      content ""
      pos absolute
      l 0
      t -21px
      h 21px
      w 100%
      @media $LandscapeMedium
        dn()
    @media $LandscapeMediumMin
      ^[0]__item:hover &
        t 40px
        opacity 1
        visibility visible
    &-item
      & + &
        mt 16px
    &-href
      pos relative
      color white
      fontify 14px 600 18px
      transition .7s opacity
      &:hover,
      &_active
        opacity .7

body.burgeropen
  overflow hidden
  position fixed
  w 100%
  .menu
    visibility visible
    pointer-events all
    opacity 1
    transition-delay .7s