.news
  df()
  flex-wrap wrap
  margin 0 -124px -26px -172px
  @media $lDesktopSmall
    margin 0 -30px -26px -78px
  @media $desktopMax
    margin 0 -60px -26px -92px
  @media $desktopMedium
    margin 0 0 -26px -32px
  @media $LandscapeMin
    margin 0 0 -26px -32px
  &__big
    dfv(flex-start, flex-end)
    pos relative
    z-index 1
    h 730px
    margin 0 -124px 48px
    padding 47px 48px
    overflow hidden
    @media $lDesktopSmall
      margin 0 -30px 48px
    @media $desktopMax
      margin 0 -60px 48px
    @media $desktopMedium
      margin 0 0 48px
    @media $LandscapeMedium
      h 580px
    @media $LandscapeMin
      padding 28px 29px
      h auto
      pt 50%
    @media $PortraitMedium
      margin 0 -15px
      padding 50% 15px 30px
    &-bg
      pos absolute
      z-index -1
      t 0
      r 0
      b 0
      l 0
      background-position center
      background-repeat no-repeat
      background-size cover
      opacity .5
      transition .7s opacity 
    &:hover &-bg
      opacity .65
    &-date
      fontify 14px 600 14px
      mb 6px
    &-hrefover
      max-width 500px
    &-href
      c white
      fontify 48px 600 56px
      border-bottom 1px solid alpha(white, .25)
      transition .7s border
      @media $LandscapeMedium
        fontify 40px 900 40px
      @media $PortraitMax
        fontify 36px 900 36px
      span
        pos relative
        t 8px
      &:hover
        border-color transparent
  &__item
    w calc(100% / 3 - 48px)
    ml 48px
    mb 53px
    @media $desktopMax
      ml 32px
      mb 32px
      w calc(100% / 3 - 32px)
    @media $LandscapeMax
      w calc(50% - 32px)
      mb 40px
    @media $PortraitMax
      w calc(100% - 32px)
    &-imgover
      pos relative
      db()
      pt 51%
      overflow hidden
    &-img
      pos absolute
      l 0
      t 0
      size 100%
      object-fit cover
      font-family 'object-fit: cover;'
      transition .7s transform
      will-change transform
      -webkit-backface-visibility hidden
      transform scale(1.017) translateZ(0)
    &:hover &-img
      transform scale(1) translateZ(0)
    &-content
      mt 20px
    &-date
      fontify 14px 600 14px
      mb 10px
    &-href
      color inherit
      fontify 24px 600 32px
      border-bottom 1px solid rgba(132,132,132,0.4)
      transition .7s border
      @media $LandscapeMedium
        fontify 20px 600 28px
      &:hover
        border-color transparent
  &__elem
    &-bottom
      df(flex-start, space-between)
      mt 48px
    &-date
      fontify 14px 600 20px
    &-prev,
    &-next
      pos fixed
      t 50%
      size 33px 33px
      background url('../i/left_seq.png') no-repeat 0 -1617px
      mt -15px
      transition .7s background
      @media $desktopMin
        dn()
      &:hover
        animation arrAnimation 1s steps(49)
    &-prev
      l 30px
      @media $desktopMax
        l 10px
    &-next
      r 30px
      transform scaleX(-1)
      @media $desktopMax
        r 10px
  &__socials
    df()
    mt 4px
    &-href
      transition .7s opacity
      &:hover
        opacity .7
      & + &
        ml 28px
      &[data-type="fb"]
        size 13px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///9GE+Z7AAAAG3RSTlMAR+fm48MrAh/+HRUv6An34Q87ARE/LVHi5UQcfnr+AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+IMGwkEHkQC7l4AAABLSURBVAjXdcpJEoAgEEPRNM4j4gjm/vfUBbQu9K/yqgIxTGWCnE8GcRRlVZNRTYuuVw0YLVUTHFWzw7JuSTvuju/nj/xLHhJU4bwACDQOUavBqcMAAAAASUVORK5CYII=') no-repeat center
      &[data-type="tw"]
        size 15px 12px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAApVBMVEX///8LX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z///93yyYaAAAANXRSTlMAAhZE1PivHU0iKC8x7jpqm98jwOmPPbxGD6g3BjXjybpIaf6y0cwmfKnsoApmxvT18NiUKmOi4PEAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gwbCQQ0n7kniAAAAHRJREFUCNdNztcSglAMRdGjWCgqiBSvHRSQooCY//81IdcB9tuaTCbBZApOmc0XS1WDTkbHFXWtN9CIzNYWe2sDOyLH9Xz2HhAHGjoCpxFJtJvnS88rX7r1Dtjh/c+H/AQiYsaM5JlmzFwOi9e7rOpP85X8AbewFcQdzjioAAAAAElFTkSuQmCC') no-repeat center