.popup_realized
  w 100%
  min-height 100%
  // dfv(center, flex-start)
  perspective 1000px
  color white
  pl 0
  pr 0


.popup
  font-family $os
  &_search
    max-width 900px
    w 95%
  &:not(.popup_realized):not(.popup_search)
    bgc white
    w 95%
    max-width 523px
    padding 24px 48px
    @media $PortraitMax
      padding 24px 28px
  &__title
    c $dark
    fontify 48px 900 48px
    mb 36px
    @media $LandscapeMedium
      fontify 40px 900 40px
    @media $PortraitMax
      fontify 36px 900 36px
  &__subtitle
    c $dark
    fontify 18px 400 26px
    span
      c $red
  &__form
    &:not(&_search)
      mt 66px
    &_search
      pos relative
    &.warning ^[0]__warning
      db()
    &-title
      c $dark
      fontify 24px 600 32px
      mb 25px
    &-block
      & + &
        mt 70px
      &_bottom
        df(flex-start, space-between)
        @media $PortraitMax
          flex-direction column
  &__agreement
    c $dark
    fontify 18px 400 26px
    max-width 240px
    mt -6px
    a
      color $blue
      border-bottom 1px solid transparent
      transition .5s border
      &:hover
        border-color alpha($blue, .4)
    @media $PortraitMax
      max-width none
      mb 20px
  @media $PortraitMax
    .callback__send
      w 100%
      text-align center
  &__warning
    dn()
    c $red
    fontify 18px 400 26px
    mt 38px
  .common__fileover
    white-space normal
  .common__filename
    display inline
    max-width calc(100% - 23px)
  &__search
    &-input
      width 100%
      bgc transparent
      border 0
      border-bottom 1px solid white
      fontify 24px 600 26px
      c white
      h 75px
      pr 40px
    &-sbm
      pos absolute
      r 0
      t 50%
      mt -10px
      size 21px
      background url('../i/search_seq.png') no-repeat 0 -1029px
      transition .7s opacity
      &:hover
        animation searchAnimation 1s steps(49)