.projects
  df()
  flex-wrap wrap
  margin 0 -124px -26px -172px
  @media $lDesktopSmall
    margin 0 -30px -26px -78px
  @media $desktopMax
    margin 0 -60px -26px -92px
  @media $desktopMedium
    margin 0 0 -26px -32px
  @media $desktopMin
    margin 0 0 -26px -52px
  @media $LandscapeMin
    margin 0 0 -26px -32px
  &__big
    dfv(flex-start, flex-end)
    pos relative
    z-index 1
    h 730px
    margin 0 -124px 48px
    padding 47px 48px
    overflow hidden
    @media $lDesktopSmall
      margin 0 -30px 48px
    @media $desktopMax
      margin 0 -60px 48px
    @media $desktopMedium
      margin 0 0 48px
    @media $LandscapeMedium
      h 580px
    @media $LandscapeMin
      padding 28px 29px
      h auto
      pt 50%
    @media $PortraitMedium
      margin 0 -15px
      padding 50% 15px 30px
    &-bg
      pos absolute
      z-index -1
      t 0
      r 0
      b 0
      l 0
      background-position center
      background-repeat no-repeat
      background-size cover
      opacity .5
      transition .7s opacity 
    &:hover &-bg
      opacity .65
    &-date
      fontify 14px 600 14px
      mb 6px
    &-hrefover
      max-width 500px
    &-href
      c white
      fontify 48px 600 56px
      border-bottom 1px solid alpha(white, .25)
      transition .7s border
      @media $LandscapeMedium
        fontify 40px 900 40px
      @media $PortraitMax
        fontify 36px 900 36px
      span
        pos relative
        t 8px
      &:hover
        border-color transparent
    & ^[0]__hashs
      mt 30px
      max-width 400px
  &__hashs
    df()
    mt 20px
    ml -4px
    w calc(100% + 4px)
    flex-wrap wrap
  &__hash
    ml 4px
    mb 4px
    bgc $blue
    white-space nowrap
    padding 2px 4px 2px
    fontify 13px 400 14px
    c white
  &__item
    w calc(25% - 48px)
    ml 48px
    mb 48px
    @media $desktopMax
      ml 32px
      mb 32px
      w calc(25% - 32px)
    @media $desktopMin
      w calc(100% / 3 - 32px)
      mb 52px
    @media $LandscapeMax
      w calc(50% - 32px)
    @media $PortraitMax
      w calc(100% - 32px)
    @media $desktopMinFrom
      &_wide
        pos relative
        w calc(50% - 48px)
        @media $desktopMax
          w calc(50% - 32px)  
        bgc $dark
        & ^[-1]-imgover
          opacity .5
        & ^[-1]-content
          pos absolute
          b 43px
          l 62px
          r 62px
        & ^[-1]-href
          c white
          border-color rgba(255, 255, 255, .4)
          &:hover
            border-color transparent
    &-videoopen
      pos relative
      db()
      z-index 1
      size 56px
      mb 8px
      @media $desktopMinFrom
        &_center
          pos absolute
          l 50%
          t 50%
          mb 0
          transform translate(-50%, -50%)
        &_tablet
          dn()
      @media $desktopMin
        ^[0]__item_wide &:not(&_tablet)
          dn()
        &:not(&_main)
          pos absolute
          l 50%
          t 50%
          mb 0
          transform translate(-50%, -50%)
      &:after
        content ""
        pos absolute
        l 50%
        t 50%
        ml -4px
        mt -8px
        size 11px 17px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMIwkb3xsXAAAAl0lEQVQY03WQsQ2CYBBGP0QTCxIbtdY4AoUGN5DERSx0Bgodw8YGNrBxACnsqAkNJg7xKKSQ4/eu+l4uX3JPXBkjuwJerFz4wJt9H4s1JRd8i8WUOw/mFosBCRVbi4XYUXPqY7EgJyPwQJ5+Z6JCT3u9JCcl6OKYmmO32yehIvqmYds4000jhfq0GRAbSs72yz9OnAadvhvc0cv72fj0UgAAAABJRU5ErkJggg==') no-repeat center
        transition .7s background
      &:before
        content ""
        size 56px
        pos absolute
        z-index -1
        l 50%
        t 50%
        mt -28px
        ml -28px
        border-radius 50%
        bgc $blue
        transition .7s width, .7s height, .7s margin
      &:hover
        &:after
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMJQ7T4SkyAAAAZ0lEQVQY023QoRHCYBBE4Z/BRMRCA+ki6YFWQhVQRnRQVEALNBGPR+TDc3vn3tzc7L5m0Wn/2/A2JMzHJWF2d8eK4eWcMJspYb6uCcNDf6DVeabrVV9/zynJmHKfastbbRmdRIPR9w+c8wSqdmnVhQAAAABJRU5ErkJggg==') no-repeat center
        &:before
          size 66px
          ml -33px
          mt -33px
    &-imgover
      pos relative
      db()
      pt 51%
      overflow hidden
    &-img
      pos absolute
      l 0
      t 0
      size 100%
      object-fit cover
      font-family 'object-fit: cover;'
      transition .7s transform
      will-change transform
      -webkit-backface-visibility hidden
      transform scale(1.017) translateZ(0)
    &:hover &-img
      transform scale(1) translateZ(0)
    &-content
      mt 20px
    &-href
      color inherit
      fontify 24px 600 32px
      border-bottom 1px solid rgba(132,132,132,0.4)
      transition .7s border
      @media $LandscapeMedium
        fontify 20px 600 28px
      &:hover
        border-color transparent
  &__elem
    pb 80px
    &-top
      text-align center
      mb 60px
      .projects__hashs
        justify-content center
    &-bottom
      df(flex-start, space-between)
      mt 48px
      @media $PortraitMin
        flex-direction column-reverse
        justify-content flex-start
      .common__back
        mt 0
        @media $PortraitMin
          mt 40px
    &-text
      mt 71px
      fontify 24px 600 32px
      @media $LandscapeMedium
        fontify 20px 600 28px
      p:not([class])
        margin 32px 0
        @media $LandscapeMedium
          margin 20px 0
    &-video
      ib()
      pos relative
      mt 57px
      color white
      fontify 18px 600 46px
      ml 60px
      &:before
        content ""
        pos absolute
        l -60px
        size 46px
        t 0
        bgc $blue
        border-radius 50%
        transition .7s top, .7s left, .7s width, .7s height  
      &:after
        content ""
        pos absolute
        l -41px
        t 50%
        mt -8px
        size 11px 17px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMIwkb3xsXAAAAl0lEQVQY03WQsQ2CYBBGP0QTCxIbtdY4AoUGN5DERSx0Bgodw8YGNrBxACnsqAkNJg7xKKSQ4/eu+l4uX3JPXBkjuwJerFz4wJt9H4s1JRd8i8WUOw/mFosBCRVbi4XYUXPqY7EgJyPwQJ5+Z6JCT3u9JCcl6OKYmmO32yehIvqmYds4000jhfq0GRAbSs72yz9OnAadvhvc0cv72fj0UgAAAABJRU5ErkJggg==') no-repeat center
        transition .7s background
      &:hover
        &:before
          size 57px
          l -67px
          t -5px
        &:after
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMJQ7T4SkyAAAAZ0lEQVQY023QoRHCYBBE4Z/BRMRCA+ki6YFWQhVQRnRQVEALNBGPR+TDc3vn3tzc7L5m0Wn/2/A2JMzHJWF2d8eK4eWcMJspYb6uCcNDf6DVeabrVV9/zynJmHKfastbbRmdRIPR9w+c8wSqdmnVhQAAAABJRU5ErkJggg==') no-repeat center