.realized
  pos relative
  z-index 1
  color white
  padding 100px 0 120px
  @media $LandscapeMedium
    padding 70px 0 80px
  &__bg
    pos absolute
    z-index -1
    t 0
    l 0
    w 100%
    h 100%
    opacity .25
    background-position top center
    background-repeat no-repeat
    background-attachment fixed
    // transition .5s background-image
    @media $PortraitMedium
      background-size cover
    @media $ie
      background-attachment inherit
      background-size cover
  &__title
    &_inner
      fontify 48px 900 48px
      max-width 770px
      @media $LandscapeMedium
        fontify 40px 900 40px
      @media $PortraitMax
        fontify 36px 900 36px
  &__list
    df()
    flex-wrap wrap
    mt 55px
    ml -48px
    w calc(100% + 48px)
    @media $LandscapeMin
      ml -30px
      w calc(100% + 30px)
    @media $PortraitMedium
      mt 33px
  &__item
    w 35.5%
    ml 48px
    mb 65px
    @media $LandscapeMedium
      mb 45px
    @media $LandscapeMin
      ml 30px
      w calc(50% - 30px)
    @media $PortraitMedium
      w calc(100% - 30px)
    @media $PortraitMedium
      mb 32px
    .projects__hashs
      max-width 280px
  &__href
    color white
    fontify 24px 600 32px
    border-bottom 1px dotted rgba(255, 255, 255, .25)
    transition .7s color, .7s border
    @media $LandscapeMax
      border-style solid
    @media $LandscapeMedium
      fontify 20px 600 28px
    span
      pos relative
      t 3px
    &:hover
      color $blue
      border-color transparent
  &__toall
    ib()
    mt 47px
    @media $PortraitMedium
      mt 17px
    &-title
      fontify 60px 700 68px
      mt 76px
      ml -2px
      @media $lDesktopSmall
        fontify 48px 900 48px
      @media $LandscapeMedium
        fontify 40px 900 40px
      @media $PortraitMedium
        dn()
  &__card
    padding 120px 0 60px
    opacity 0
    transition .7s opacity
    @media $LandscapeMin
      padding 0
    &-bg
      min-width 100%
      min-height 100%
      &-wrapper
        pos absolute
        z-index -1
        min-width 100%
        min-height 100%
        l 0
        t 0
        opacity 0
        transition 2s transform
        @media $LandscapeMax
          dn()
        &:after
          content ""
          position absolute
          t 0
          l 0
          w 100%
          h calc(100% - 2px)
          z-index 1
          bgc rgba(255,255,255,0.07)
    &-left
      w calc(50% - 24px)
      @media $LandscapeMax
        w 100%
    &-title
      fontify 72px 700 72px
      ml -4px
      @media $lDesktopSmall
        fontify 60px 700 60px
    &-text
      fontify 24px 600 32px
      mt 70px
    &-more
      ib()
      mt 50px
    &-hashs
      df()
      ml -4px
      w calc(100% + 4px)
      flex-wrap wrap
      mb 30px
    &-hash
      ml 4px
      mb 4px
      bgc $blue
      white-space nowrap
      padding 2px 4px 2px
      fontify 13px 400 14px
      &,
      &:active,
      &:visited
        c white
    &-video
      ib()
      pos relative
      mt 57px
      color white
      fontify 18px 600 46px
      ml 60px
      &:before
        content ""
        pos absolute
        l -60px
        size 46px
        t 0
        bgc $blue
        border-radius 50%
        transition .7s top, .7s left, .7s width, .7s height  
      &:after
        content ""
        pos absolute
        l -41px
        t 50%
        mt -8px
        size 11px 17px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMIwkb3xsXAAAAl0lEQVQY03WQsQ2CYBBGP0QTCxIbtdY4AoUGN5DERSx0Bgodw8YGNrBxACnsqAkNJg7xKKSQ4/eu+l4uX3JPXBkjuwJerFz4wJt9H4s1JRd8i8WUOw/mFosBCRVbi4XYUXPqY7EgJyPwQJ5+Z6JCT3u9JCcl6OKYmmO32yehIvqmYds4000jhfq0GRAbSs72yz9OnAadvhvc0cv72fj0UgAAAABJRU5ErkJggg==') no-repeat center
        transition .7s background
      &:hover
        &:before
          size 57px
          l -67px
          t -5px
        &:after
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAARCAQAAACh6J5QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsMJQ7T4SkyAAAAZ0lEQVQY023QoRHCYBBE4Z/BRMRCA+ki6YFWQhVQRnRQVEALNBGPR+TDc3vn3tzc7L5m0Wn/2/A2JMzHJWF2d8eK4eWcMJspYb6uCcNDf6DVeabrVV9/zynJmHKfastbbRmdRIPR9w+c8wSqdmnVhQAAAABJRU5ErkJggg==') no-repeat center

.popup_realized.show
  .realized__card
    opacity 1
    transition .7s 2s opacity
  .realized__card-bg-wrapper
    opacity 1
    transform-style preserve-3d
    transition 2s .5s opacity, 2s .5s transform
    @media $LandscapeMin
      opacity .25
    @media $lDesktopSmallFrom
      transform translate3d(15%, -20%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media (max-width: 1600px) and (min-width: 1401px)
      transform translate3d(14%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media (max-width: 1400px) and (min-width: 1271px)
      transform translate3d(10%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    @media (max-width: 1270px) and (min-width: 1001px)
      transform translate3d(2%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.4)
    // @media (max-width:1000px) and (min-width:768px)
    //   transform translate3d(-16%, -22%, -60px) rotate3d(0.2, -0.3, 0, 22deg) scale(.3)

.popup_realized.animation
  .realized__card-bg-wrapper
    @media $LandscapeMinFrom
      animation moviePopup 8s infinite ease-in-out