.review
  bgc white
  padding 48px
  df()
  flex-direction row-reverse
  color $dark
  &__imgover
    w 198px
    border 1px solid #f1f1f1
    ml 40px
  &__img
    max-width 100%
    max-height 100%
  &__content
    w calc(100% - 238px)
  &__title
    fontify 24px 600 32px
    mt -6px
  &__text
    mt 25px
  &__from
    mt 53px
    color #b8b8b8
    fontify 18px 400 26px