.target
  bgc $dark
  padding 92px 0 100px 0
  text-align center
  &__title
    margin 0 auto 41px
    max-width 770px
    c white
    fontify 24px 600 32px
    @media $LandscapeMedium
      fontify 20px 600 28px
  