html,
body
  font-family $os
body
  overflow-x hidden
  bgc $dark

.container
  w 100%
  max-width 1573px
  margin 0 auto
  padding 0 180px
  @media $lDesktopSmall
    max-width 1366px
    padding 0 32px
  @media $desktopMax
    max-width 1142px
    padding 0 32px
  @media $PortraitMedium
    padding 0 15px
.main
  color white
  &__top
    pt 36px
  &__bottom
    bgc $grey
    color $dark
    pt 48px 
  &__title
    fontify 72px 900 72px
    margin 22px 0 42px -3px
    @media $LandscapeMedium
      fontify 62px 900 62px
    @media $PortraitMedium
      fontify 42px 900 42px
      ml -2px
    @media $Mobile
      fontify 34px 900 34px
  h1:not([class])
    fontify 60px 900 60px
    margin 25px 0 45px
    @media $LandscapeMedium
      fontify 48px 900 48px
    @media $PortraitMax
      fontify 42px 900 42px
    @media $Mobile370
      fontify 40px 900 40px
  h2:not([class])
    fontify 48px 900 48px
    margin 63px 0 39px -2px
    @media $LandscapeMedium
      fontify 40px 900 40px
    @media $PortraitMax
      fontify 36px 900 36px
  h3:not([class]),
  h4:not([class])
    fontify 36px 600 36px
    margin 68px 0 38px
    @media $PortraitMax
      fontify 30px 600 30px
  img:not([class])
    max-width 100%
    @media $PortraitMediumFrom
      margin 14px 0
  ul:not([class])
    list-style none
    @media $PortraitMediumFrom
      margin 28px 0
  ul:not([class]) li
    pl 40px
    pos relative
  ul:not([class]) li + li
    mt 10px
  ul:not([class]) > li:before
    content ""
    pos absolute
    l 0
    t 13px
    size 26px 1px
    bgc $blue
  ol:not([class])
    list-style none
    counter-reset myCounter
    @media $PortraitMediumFrom
      margin 28px 0
  ol:not([class]) li
    pl 40px
    pos relative
  ol:not([class]) li + li
    mt 10px
  ol:not([class]) > li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 30px
    pr 9px
    color $dark
  p:not([class])
    margin 20px 0
  a:not([class])
    color $blue
    border-bottom 1px solid transparent
    transition .5s border
    &:hover
      border-color alpha($blue, .4)
 
  *:not([class]):not(span):first-child
    mt 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    margin 30px 0
    th
      color white
      bgc $blue
      font-weight 400
      padding 16px 20px 18px
      text-align left
    td
      padding 13px 20px 16px
      color $dark
      fontify 15px 400 21px
      border 1px solid #f5f5f5

input::-webkit-input-placeholder
  color alpha(white, .5)
input::-moz-placeholder
  color alpha(white, .5)
input:-ms-input-placeholder
  color alpha(white, .5)
    
div[class\^="table-scroller"]
  overflow auto
  pos relative
  pl 1px
  &:not(:first-child)
    @media $PortraitMediumFrom
      mt 35px
  @media $desktopMax
    w 100%

.text
  max-width 1192px
  padding 75px 151px 124px
  margin 0 auto
  color $dark
  bgc white
  fontify 18px 400 26px
  @media $dekstop1142
    w calc(100% + 64px)
    ml -32px
    padding 75px 33px 70px
  @media $PortraitMedium
    w calc(100% + 30px)
    ml -15px
    padding 50px 15px 50px
  .breadcrumbs
    pl 18px
  .breadcrumbs,
  h1:not([class])
    @media $PortraitMediumFrom
      text-align center
    
.common
  &__car
    mb 35px
    &-img
      max-width 100%
    .swiper-buttons
      mt 28px
      text-align center
  &__back
    ib()
    pos relative
    mt 71px
    ml 33px
    color $dark
    fontify 18px 600 20px
    border-bottom 1px solid alpha($dark, .25)
    transition .7s border
    &_white
      c white
      border-bottom 1px solid alpha(white, .25)
      &:before
        filter invert(1)
      &:hover
        border-color transparent
    &:hover
      border-color transparent
    &:before
      content ""
      pos absolute
      l -33px
      t -1px
      size 23px 23px
      background url('../i/back_seq.png') no-repeat 0 -897px
    &:hover:before
      animation backAnimation 1s steps(39)
  &__title
    fontify 100px 700 100px
    ml -8px
    @media $lDesktopSmall
      fontify 72px 900 72px
    @media $LandscapeMedium
      fontify 62px 900 62px
    @media $PortraitMedium
      fontify 42px 900 42px
      ml -4px
    @media $Mobile
      fontify 34px 900 34px
    &_bigger
      fontify 120px 700 104px
      @media $lDesktopSmall
        fontify 100px 700 100px
      @media $desktopMin
        fontify 72px 700 72px
      @media $LandscapeMedium
        fontify 62px 900 62px
      @media $PortraitMedium
        fontify 42px 900 42px
      @media $Mobile
        fontify 34px 900 34px
  &__subtitle
    fontify 24px 600 32px
    mt 38px
    @media $LandscapeMedium
      fontify 20px 600 28px
  &__input
    w 100%
    h 50px
    border 0
    border-bottom 1px solid $dark
    bgc transparent
    color $dark
    font-family $os
    font-size 18px
    transition .7s border
    &.notempty, 
    &:focus
      border-bottom 1px solid $blue
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      opacity .35
      t -7px
      font-size 12px
      line-height 12px
  &__textarea
    w 100%
    h 133px
    overflow hidden
    resize none
    padding 12px 0
    border 0
    border-bottom 1px solid $dark
    bgc transparent
    color $dark
    font-family $os
    fontify 18px 400 26px
    transition .7s border
    & + ^[0]__placeholder
      line-height 22px
    &.notempty, 
    &:focus
      border-bottom 1px solid $blue
    & + ^[0]__placeholder
      t 12px
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      opacity .35
      t -7px
      font-size 12px
      line-height 12px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color $red
  &__placeholder
    pos absolute
    z-index -1
    l 0 
    t 0
    color $dark
    fontify 18px 400 48px
    white-space nowrap
    overflow hidden
    max-width 100%
    transition .7s top, .7s line-height, .7s font-size, .7s opacity, .7s color
    span
      c $red
  &__col
    pos relative
    z-index 1
    w calc(50% - 24px)
    @media $LandscapeMedium
      w 100%
      & + &
        mt 35px
  &__row
    display flex
    justify-content space-between
    pos relative
    w 100%
    z-index 1
    & + &
      mt 33px
  &__fileover
    w 100%
    pos relative
    mt 13px
    white-space nowrap
    transition .5s border
    &.warning
      border-color $red
    & + &
      mt 20px
  &__file
    pos absolute
    w 0
    h 0
    l 0
    t 0
    opacity 0
    &[data-req]:after
      content "*"
      pos absolute
      r -11px
      fontify 23px 400 14px
      t -3px
    &name
      ib()
      pos relative
      l 23px
      mr 46px
      cursor pointer
      color $dark
      fontify 18px 400 18px
      border-bottom 1px dotted $dark
      transition .5s border
      max-width calc(100% - 23px)
      &.choosed
        border-color transparent
        white-space nowrap
        & + ^[0]__filedelete
          visibility visible
          cursor pointer
      &.choosed,
      &:hover
        border-color transparent
      &:before
        content ""
        pos absolute
        l -23px
        t 1px
        size 16px 15px
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAQAAABHeoekAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsOCAb+lC+BAAABGElEQVQY02WROUsDURRGz8tMY7D8QMEy09i4oEhAMQiCFmJhKZigiII/wEaQ2IiNRqMEJEia2FqoDAoulUUUN4xVWiEYsLBW0MI3Mknube7Hee+uRjSYwzK7iH2GKTEXacIHjNDBNecIn4Kpy2DIE2MRn232gFbenGgY5+hkHp8cWQBStLmh/xm6SXFCngwAU6QZQ4Fv6laeylq1ekJV9YgAr+tBMT1pzepx1dQnggdpPcvTvTYsHlVV8b8YoRWV5amkLYsTetdgUBpNq6J2XSkrI4SGVFPivzOMXlnghi5e+AHiHJHkIjS7vmjh26p+fJKchXcXocKAjXs5ZbYegxP9ZIc7PpjkkCWOG2/nUsSlgMcjM1zSZL/0qUObwFqRwAAAAABJRU5ErkJggg==') no-repeat center
    &delete
      display inline-block
      vertical-align middle
      visibility hidden
      pos relative
      size 15px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiDBsOCzeEZ3x4AAAAl0lEQVQY03XRwQ3CIBSA4b9yaMK5MzGExhk6gfHgoYlLaNrAEHYJOgBM4QAeKD4qleP7fhLIa7qJkZm9Yzgr/cbhiTtouSod8TgWQoUnXkpDHawISsNv8MXMZVCgcA5a7oIlQ6TlxsBDRofNa3su9BgZyW2D5ciTBSu/yJxwBkIZJBZkDRyekHiLKfApULrGImi6ken/xj4ByUdmLURzEAAAAABJRU5ErkJggg==') no-repeat center

.btn,
.href
  font-family $os
  border 1px solid $blue
  fontify 18px 600 44px
  color white
  transition .7s color
  @media $LandscapeMin
    fontify 14px 600 40px
  span
    display block
    padding 0 24px
    pos relative
    z-index 1
    &:before
      content ""
      pos absolute
      z-index -1
      bgc $blue
      l 0
      t 0
      w calc(50% + 1px)
      h 100%
      transition .7s width
    &:after
      content ""
      pos absolute
      z-index -1
      bgc $blue
      r 0
      t 0
      h 100%
      w calc(50% + 1px)
      transition .7s width
  &:hover
    span
      &:before
        w 0
      &:after
        w 0

.href
  ib()
      
.fakecheckbox
  ib()
  pos relative
  &__label
    ib()
    color white
    fontify 19px 400 26px
    pos relative
    pl 23px
    pt 0
    cursor pointer
    &:before 
      content ""
      pos absolute
      l 0
      t 6px
      size 13px
      border 1px solid alpha(white, .5)
      cursor pointer
      transition .7s border, .7s background-color
    &:after
      content ""
      pos absolute
      size 11px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAMAAAAY5vW6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAYFBMVEULX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7wLX7z////plDS+AAAAH3RSTlMASKdJ7kA+IgFL7T24m03sPA/HnQJP6zvFu+o6DrU5KBeqdgAAAAFiS0dEHwUNEL0AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAhoKISCjBpfqAAAAPElEQVQI12NggAFGJjiTmYUVwWRjYGDnADE5ubiBJA8vkMPHLwASERQSFhEVE4eoFJSQlJKGaZORlYMwADv+AfJbpATYAAAAAElFTkSuQmCC') no-repeat center
      l 2px
      t 9px
      opacity 0
      cursor pointer
      transition .7s opacity
    a
      color inherit
      border-bottom 1px solid alpha(white, .2)
      transition .7s border
      &:hover
        border-color transparent
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label
      &:before
        bgc white
      &:after
        opacity 1
    &.warning + ^[0]__label:before 
      border-color $red

.breadcrumbs
  @media $PortraitMedium
    dn()
    & + .main__title
      mt 0
  &__href
    color inherit
    fontify 14px 600 24px
    border-bottom 1px solid alpha(#848484, .4)
    transition .5s border
    &:hover
      border-color transparent
  &__delim
    size 4px
    display inline-block
    vertical-align middle
    bgc $blue
    margin 0 8px

h1:not([class]) + .breadcrumbs
  mt -6px
      
input.warning,
textarea.warning
  border-color $red
  & + .common__placeholder
    c $red

.hidden-block
  display none