@import "__vars.styl"

@import "__reset.styl"
@import "__fonts.styl"

@import "__swiper.styl"
@import "__fancy.styl"

@import "__common.styl"

@import "blocks/animations.styl"
@import "blocks/sider.styl"
@import "blocks/shower.styl"
@import "blocks/pagination.styl"
@import "blocks/popup.styl"
@import "blocks/filter.styl"
@import "blocks/slider.styl"

@import "blocks/header.styl"
@import "blocks/menu.styl"
@import "blocks/footer.styl"
@import "blocks/index.styl"
@import "blocks/realized.styl"
@import "blocks/review.styl"
@import "blocks/news.styl"
@import "blocks/contacts.styl"
@import "blocks/park.styl"
@import "blocks/projects.styl"
@import "blocks/product.styl"
@import "blocks/target.styl"
@import "blocks/about.styl"
@import "blocks/partners.styl"
@import "blocks/404.styl"
@import "blocks/showreel.styl"